/* GLOBAL RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: url('images/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

img, picture, video, canvas, svg{
  display: block;
  max-width: 100%;
}

ul, ol, li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

button, input, textarea, select{
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

*, *::before, *::after{
  box-sizing: inherit;
}

/* HEADER & NAV */
nav{
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #b60000;
  box-shadow: 1px 1px 3px black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.brand-container img{
  border-radius: 10px;
  transition: transform 0.5s ease;
}
.brand-container img:hover{
  transform: scale(1.2);
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav a{
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  transition: background-color 0.3s, border-radius 0.3s;
}
nav a:hover{
  background-color: rgb(151, 0, 0);
  border-radius: 10px;
}
.msg-btn a{
  display: inline-block;
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom right, rgb(255, 255, 255),rgb(255, 255, 255), rgb(100, 100, 100));
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  transition: transform 0.5s ease, color 0.3s, background-color 0.5s;
}
.msg-btn a:hover{
  transform: scale(1.2);
  color: black;
  background: linear-gradient(to bottom right, rgb(139, 0, 0),red, rgb(139, 0, 0));
}

.hamburger{
  height: 100%;
  width: auto;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(182, 0, 0, 0.692);
  box-shadow: 1px 10px 5px black;
  z-index: 9999;
}
svg{
  cursor: pointer;
}
.hamburger-btn{
  display: none;
}

/* HOME SECTION */
.home{
  height: 800px;
  margin-top: 70px;
  /* background: linear-gradient(to bottom right, rgb(70, 0, 0), red, rgb(70, 0, 0)); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.home h1{
  font-size: 3rem;
  background: linear-gradient(to bottom right, rgb(255, 255, 255),rgb(255, 255, 255),rgb(95, 95, 95));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.home p{
  font-size: 2rem;
  background: linear-gradient(to bottom right, rgb(255, 255, 255),rgb(255, 255, 255),rgb(95, 95, 95));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* PRODUCTS & SERVICES SECTION */
.services{
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.services h1{
  text-align: center;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(95, 95, 95));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel{
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding: 30px;
}
.carousel::-webkit-scrollbar{
  display: none;
}
.card-container{
  display: flex;
  gap: 20px;
  animation: spin 120s infinite linear;
  padding-right: 20px;
}
.card{
  flex: 0 0 300px;
  height: auto;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(95, 95, 95));
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 1px black;
  transition: 0.5s ease;
}
.card:hover{
  transform: scale(1.1);
}
.card p{
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-text-fill-color: black
}
.card a{
  color: red;
  text-decoration: underline;
}
@keyframes spin {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* GALLERY SECTION */
.gallery{
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.gallery h1{
  text-align: center;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(95, 95, 95));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gallery-carousel{
  display: flex;
  overflow-x: auto;
  padding: 30px;
}
.gallery-carousel::-webkit-scrollbar{
  display: none;
}
.gallery-container{
  display: flex;
  gap: 30px;
  animation: gallery-spin 120s infinite linear;
  padding-right: 30px;
}
.gallery-card{
  flex: 0 0 300px;
  flex-direction: column;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(95, 95, 95));
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 1px black;
  transition: 0.5s ease;
}
.gallery-card:hover{
  transform: scale(1.1);
}
.gallery-card h3{
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3rem;
}
.gallery-card video{
  display: flex;
  justify-self: center;
  width: 265px;
  border-radius: 10px;
}
.gallery-images{
  display: flex;
  justify-self: center;
  gap: 20px;
  margin-top: 20px;
}
.gallery-images img{
  width: 125px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.gallery-images img:hover{
  transform: scale(1.3);
}
@keyframes gallery-spin {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* IMG FULLSCREEN VIEW */
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Popup Image */
.popup img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* Close Button */
#close-popup {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

/* MEMBERS SECTION */
.members{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding: 40px;
}
.members h1{
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(95, 95, 95));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.member-card{
  width: 200px;
  margin: 0 auto;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(95, 95, 95));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 1px black;
  transition: 0.5s ease;
}
.member-card:hover{
  transform: scale(1.1);
}
.member-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.member-card h3{
  color: black;
  margin-top: 10px;
}
.member-card p{
  margin-top: 5px;
  -webkit-text-fill-color: black
}

/* ABOUT SECTION */
.about{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.about h1{
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(95, 95, 95));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about p{
  color: white;
}

/* CONTACTS SECTION */
.contacts{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.contacts h1{
  text-align: center;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(95, 95, 95));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts-container{
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.contact-box{
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-box a{
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-box img{
  width: 50px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
.contacts p{
  color: white;
}

/* FOOTER */
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: rgb(0, 0, 0);
  flex-wrap: wrap;
  gap: 10px;
}
.footer img{
  border-radius: 10px;
}
.footer p{
  color: white;
}

/* MEDIA QUERIES */
@media(max-width: 1100px){
  .hamburger-btn{
    display: block;
    margin-right: 40px;
  }
  .hideOnMobile{
    display: none;
  }
  nav{
    justify-content: space-between;
  }
}

@media(max-width: 1024px){
  
}

@media(max-width: 768px){
  .home{
    height: 500px;
  }
  .footer p{
    font-size: 0.8rem;
  }
} 

@media(max-width: 600px){
  .contacts-container{
    flex-direction: column;
  }
}

@media(max-width: 576px){
  .home h1{
    font-size: 2rem;
  }
  .home p{
    font-size: 1.2rem;
  }
  .contacts{
    margin-bottom: 100px;
  }
}

@media(max-width: 480px){
  .hamburger{
    width: 100%;
  }
  .hamburger li{
    margin-left: 40px;
  }
}


